
<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px'}">
    <mat-toolbar style="background-color: #479FAC; display: flex; justify-content: space-between;">
      <span style="color: white">Menú</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon style="color: white">menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list *ngFor="let sidebarItem of sidebarItems">

      <mat-list-item routerLink="{{sidebarItem.url}}" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{sidebarItem.icon}}</mat-icon>
        {{sidebarItem.label}}
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar style="background-color: #479FAC; display: flex; justify-content: space-between;">
    <div>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon style="color: white">menu</mat-icon>
      </button>
    </div>
      <div>
      <span class="filmflow">FilmFlow</span>
      </div>
    <div>
      <button mat-button (click)="onLogout()" style="background-color: white;">
        Logout
      </button>
    </div>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
