<ng-template #divloading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="pelicula; else divloading" class="movie_card" id="tomb">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" [src]="pelicula | peliculaImage"/>
      <h1>{{pelicula.title}}</h1>
      <h4>{{pelicula.release_date}}</h4>
      <span class="minutes">{{pelicula.runtime}} min</span>
      <p *ngFor="let pelicula of pelicula.genres" class="type">{{pelicula.name}}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{pelicula.overview}}
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons"></i></li>
      </ul>
      <ul class="bottom_right_button">
        <li><button mat-raised-button color="primary" [routerLink]="['/peliculas/list']" style="background-color: grey;"><mat-icon>arrow_back</mat-icon>Volver</button></li>
      </ul>
    </div>
  </div>
  <div class="blur_back tomb_back" style="background: url(https://image.tmdb.org/t/p/w500{{pelicula.backdrop_path}});"></div>
</div>


<!-- <div *ngIf="pelicula; else divloading" class="movie_card" id="tomb">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" [src]="pelicula | peliculaImage"/>
      <h1>{{pelicula.title}}</h1>
      <h4>{{pelicula.release_date}}</h4>
      <span class="minutes">{{pelicula.runtime}} min</span>
      <p *ngFor="let pelicula of pelicula.genres" class="type">{{pelicula.name}}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{pelicula.overview}}
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons"></i></li>
      </ul>
      <ul class="bottom_right_button">
        <li><button mat-raised-button color="primary" [routerLink]="['/peliculas/list']" style="background-color: grey;"><mat-icon>arrow_back</mat-icon>Volver</button></li>
      </ul>
    </div>
  </div>
  <div class="blur_back tomb_back" style="background: url(https://image.tmdb.org/t/p/w500{{pelicula.backdrop_path}});"></div>
</div> -->

