<div class="flex flex-column p-2">

  <mat-form-field>

    <mat-label>Buscador de peliculas</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchPelicula()"
    />


  </mat-form-field>

  <div class="grid mb-8" style="margin-left: 10%; margin-right: 10%; margin-top: 5px;">
    <div *ngFor="let pelicula of peliculas"
      class="col-100 sm:col-4 md:col-3 x1:col-2" >
      <peliculas-pelicula-card-busqueda [pelicula]="pelicula"></peliculas-pelicula-card-busqueda>
    </div>
  </div>

  <div *ngIf="peliculas.length>0 && page<=3" style="margin: auto;">
    <button (click)="cargarMas()" mat-raised-button color="primary" style="background-color: #479FAC;">Cargar más</button>
  </div>

</div>
